@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    --green: #13bf97;
    --dark: rgb(37, 37, 37);
    --orange: #ffa500;
}

* {
    font-family: "Roboto", sans-serif;
}

body {
    font-family: "Roboto", sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    border: 0;
}

.head {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.head div {
    margin: 1rem 2rem;
}

.head #navbar {
    float: right;
}

.head .nav-point {
    float: right;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 1rem;
    text-transform: uppercase;
}

.head .nav-point:link,
.head .nav-point:visited,
.head .nav-point:hover,
.head .nav-point:active,
#first-section a:link,
#first-section a:visited,
#first-section a:hover,
#first-section a:active {
    color: inherit;
    text-decoration: none;
}

.head .nav-point::after,
.head .nav-point::before {
    display: block;
    content: '';
    border-bottom: solid 2px;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.head .nav-point::after {
    margin-top: 5px;
}

.head .nav-point::before {
    margin-bottom: 5px;
}

.head .nav-point:hover::after,
.head .nav-point:hover::before,
.head .selected::after,
.head .selected::before {
    transform: scaleX(1);
}

#discover-button {
    background-color: transparent;
    border: 2px solid white;
}

#discover-button:hover {
    background-color: rgba(255, 255, 255, .3);
}

section {
    overflow-x: hidden;
}

section .scroll-button {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
    animation-name: up-down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

section .scroll-button:hover {
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

@keyframes up-down {
    0% {
        transform: translateY(0px) rotate(-45deg);
    }
    50% {
        transform: translateY(15px) rotate(-45deg);
    }
    100% {
        transform: translateY(0px) rotate(-45deg);
    }
}

#first-section {
    padding-top: 15rem;
    height: calc(100vh - 15rem);
    padding-left: 3rem;
    text-transform: uppercase;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/vessel-02.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-size: cover;
}

#first-section h1 {
    font-size: 5rem;
    margin-bottom: .5rem;
}

#first-section h2 {
    font-size: 3.5rem;
    margin-top: 0;
}

#first-section div {
    margin-right: 1rem;
}

#sec-02 {
    background-color: var(--dark);
    color: white;
    padding: 3rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

#sec-02 img {
    border-radius: 50%;
    max-width: 90%;
}

#sec-02 p,
#sec-02 h2 {
    margin-left: 2rem;
    max-width: 50%;
}

#sec-03 {
    color: black;
    position: relative;
}

#sec-03>div:first-child {
    position: absolute;
    left: calc(50% - 7.5rem);
    width: 15rem;
    color: rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
}

#sec-03>div:last-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 5rem;
    justify-items: center;
}

#sec-03>div>div {
    width: 100%;
    color: white;
    height: 35rem;
}

#sec-03>div>div>div {
    margin: 20% 0 0 25%;
}

#sec-03 p {
    max-width: 50%;
    color: rgb(200, 200, 200);
}

#sec-03>div>div:first-child {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/rsz_meeting.jpg");
    background-size: cover;
}

#sec-03>div>div:nth-child(2) {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/rsz_monitor.jpg");
    background-size: cover;
}

#sec-03 ul {
    padding: 0;
    list-style: none;
}

#sec-03 li {
    margin: .5rem 0;
}

#sec-03>div>div span {
    color: rgba(255, 255, 255, .2);
    font-size: 2rem;
}

#sec-04 {
    background-color: white;
    padding: 1rem;
    padding-bottom: 2rem;
    color: black;
    text-align: center;
}

#sec-04 h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
}

#sec-04>div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    justify-items: center;
    max-width: 70%;
    margin: auto;
    margin-top: 2rem;
}

#sec-04>div>div {
    text-align: center;
    padding: 1rem;
}

#sec-04>div>div>div,
#sec-04>span {
    color: rgba(0, 0, 0, .75);
}

#sec-04>span {
    max-width: 75%;
    display: inline-block;
}

.round-image-container {
    background-color: var(--green);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    margin: auto;
}

.round-image-container img {
    width: 75%;
    vertical-align: middle;
    margin-top: 10%;
}

#sec-05 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/vessel.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 2rem;
    text-align: center;
}

#sec-05>form>.contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

#sec-05 textarea {
    resize: none;
    grid-column-end: span 2 / auto;
}

#sec-05 input,
#sec-05 textarea {
    width: calc(100% - 1rem);
}

#sec-05 .default-button {
    margin-top: 2rem;
}

#sec-05 h2 {
    font-size: 2rem;
}

#sec-05 .input-pair:last-child {
    grid-column: span 2 / auto;
}

#sec-06 {
    background-color: white;
    color: black;
    padding: 2rem;
    text-align: center;
}

#sec-06 iframe {
    margin-top: 3rem;
    max-width: 90%;
}

#sec-06>div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    max-width: 50%;
    margin: auto;
}

#sec-06>div span {
    display: block;
    margin: .25rem;
}

#sec-06 img {
    margin-top: 2rem;
    max-height: 75%;
    max-width: 30%;
}

.default-textbox {
    background-color: rgba(255, 255, 255, .2);
    border: 2px solid white;
    color: white;
    padding: .5rem;
    transition: border 250ms ease-in-out, background-color 250ms ease-in-out;
}

.default-textbox:active,
.default-textbox:focus,
.default-textbox:visited {
    border: 2px solid var(--green);
    outline: none;
    background-color: rgba(255, 255, 255, .3);
}

.default-button {
    background-color: var(--green);
    padding: 1rem;
    display: inline-block;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color .15s ease-in-out 0s;
}

.input-pair input,
.input-pair label {
    display: block;
}

.input-pair label {
    color: rgba(255, 255, 255, .7);
    text-align: left;
    margin-bottom: .5rem;
}

.default-button:hover {
    background-color: #13cf97;
}

footer {
    text-align: center;
    padding: 1.5rem 0;
    background-color: var(--dark);
    color: white;
}

footer div {
    margin-top: 1rem;
}

footer a:visited,
footer a:link,
footer a:hover,
footer a:active {
    color: blue;
}

@media only screen and (max-width: 600px) {
    section {
        font-size: 5vw;
    }
    html {
        font-size: 2vw;
    }
    .nav-point {
        font-size: 3vw !important;
    }
    #sec-02,
    #sec-03>div,
    #sec-04>div,
    #sec-05>form>.contact-form,
    #sec-06>div {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
    #first-section {
        text-align: center;
        padding-left: 0;
    }
    #first-section div {
        width: 70vw;
        margin: 2rem 0;
        text-align: center;
        font-size: 3rem;
    }
    #first-section h2 {
        margin-bottom: 15vh;
    }
    #sec-02 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    #sec-02 h2,
    #sec-02 p {
        max-width: 90%;
    }
    #sec-02 img {
        max-width: 100%;
    }
    #sec-03>div:last-child>div:first-child>div {
        margin-top: 2rem;
    }
    #sec-03 span {
        display: none;
    }
    #sec-03>div>div>div {
        overflow-y: hidden;
    }
    #sec-03>div:last-child {
        display: block;
    }
    #sec-03 ul {
        max-width: 90%;
        margin: auto;
    }
    #sec-03 h3 {
        margin-top: 5rem;
    }
    #sec-03 p {
        margin: auto;
        max-width: 90%;
        color: white;
    }
    #sec-03>div>div>div {
        margin: 0;
    }
    #sec-04>span {
        max-width: 90%;
    }
    #sec-04 .round-image-container {
        width: 10rem;
        height: 10rem;
    }
    #sec-03>div>div #sec-03 h2,
    #sec-04 h2,
    #sec-05 h2 {
        font-size: 4rem;
    }
    #sec-05 .input-pair:last-child {
        grid-column: span 1;
    }
    #sec-06 {
        text-align: center;
    }
    #sec-06>div {
        max-width: 100%;
    }
    #sec-06 img {
        max-width: 80%;
    }
}